.home-title{
    margin-top: 3rem;
    font-size: 3rem;
    letter-spacing: 1.2rem;
}

.category-title{
    font-size: 1.5rem;
    margin-top: 3rem;

}

.category-list{
    margin-top:2rem;
    gap:1rem;
}

.category-item{
    background-color:rgb(122, 103, 122);
    border-radius: 1rem;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px gray;
    width: 150px;
    min-width: 100px;
    min-height: 90px;
}

.category-item a{
    text-decoration: none;
    color:white;
}